<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<form role="form" class="form-horizontal">
<script cam-script type="text/form-script">
				camForm.on('form-loaded', function() {
  					// fetch the variable named 'customerData'
  					camForm.variableManager.fetchVariable('jobInquiry');

				});
				
				camForm.on('variables-fetched', function() {
  					// after the variables are fetched, bind the value of customerData to a angular
  					// scope value such that the form can work on it
  					$scope.jobInquiry = camForm.variableManager.variableValue('jobInquiry');
					$scope.bla = "blablabla";
					console.log($scope.jobInquiry);	
					console.log($scope.bla);
				
});
		</script>
	<!-- relevant fields: 
		jobInquiry.processId , jobInquiry.title 
		jobInquiry.requiredGraduation 
		jobInquiry.location 
		jobInquiry.deadline
		Achtung Array:
		jobInquiry.candidateProfile 
		jobInquiry.taskList -->
	<div class="container">
		<h2>Please check the information sufficiency.</h2>
		<h3>Data of current Job Inquiry</h3>
		
		<div class="control-group">
			<h4>Title of job inquiry:</h4>
			{{jobInquiry.title}}
			<br /><br />
			<h4>Required graduation:</h4>
			{{jobInquiry.requiredGraduation}}
			<br /><br />
			<h4>Location of job:</h4>
			{{jobInquiry.location}}
			<br /><br />
			<h4>Application deadline:</h4>
			{{jobInquiry.deadline}}
			<br /><br />
			<h4>Candidate Profile:</h4>
			<ul ng-repeat="prof in jobInquiry.candidateProfile">
				<li>{{prof}}</li>
			</ul>
			<br /><br />
			<h4>Tasks:</h4>
			<ul ng-repeat="task in jobInquiry.taskList">
				<li>{{task}}</li>
			</ul>
			<br /><br />
			<label class="control-label" for="processId">Process ID</label>
			<input  type="text" name="creditor" readonly="true" class="form-control" />
			<p>Is the provided information sufficient for a job opening?</p>
			<label class="checkbox-inline"> <input
				cam-variable-name="sufficient" cam-variable-type="Boolean"
				type="checkbox" name="sufficient"/> Yes!
			</label>
		</div>
		</form>
</body>
</html>


