<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!-- styles -->
		<link href="/processJobInquiry/assets/css/style.css" rel="stylesheet" />
	</head>
	<body>
		<form role="form" class="form-horizontal">
			<script cam-script type="text/form-script">

				camForm.on('form-loaded', function() {
  					camForm.variableManager.fetchVariable('jobInquiry');
  					camForm.variableManager.fetchVariable('CVCollection');
				});
				
				camForm.on('variables-fetched', function() {
  					$scope.jobInquiry = camForm.variableManager.variableValue('jobInquiry');
  					$scope.CVCollection = camForm.variableManager.variableValue('CVCollection');
				});

				camForm.on('submit', function() {
					// remove '$$hashKey' properties from cv objects
					angular.forEach($scope.CVCollection, function(cv) {
						delete cv.$$hashKey;
					});
					camForm.variableManager.variableValue('CVCollection', $scope.CVCollection);
				});

			</script>
			
			<div class="control-group">
				<label class="control-label">Customer's Process ID: {{jobInquiry.processId}}</label>
			</div>
			
			<h3>Please evaluate the provided CVs.</h3>

			<hr />
			
			<p>Evaluation standards:</p>
			
			<ol>
				<li>Do the study and degree fit to the Job offer?</li>
				<li>Evaluate motivation and practical experiences (at least two previous related work experiences)</li>
				<li>Grade should be better than 2.5.</li>
				<li>Social fitting</li>
			</ol>

			<hr />
			
			<p>List of available CVs:</p>
			
			<div id="cV-panels">
				<div class="panel-group" ng-repeat="cv in CVCollection">
					<div class="panel panel-default">
						<div class="cV-action">
							<label>Accept <input type="checkbox" ng-model="cv.isAccepted" name=""></label>
						</div>
				    		<div class="panel-heading">
							<h4 class="panel-title">{{$index + 1}}. {{cv.name}}</h4>
				      	</div>
				      	<div class="panel-body">

							<!-- Applicant CV Start -->
	
							<div class="control-group">
								<label class="control-label">Name</label>
								<div class="controls">
									<input value="{{cv.name}}" type="text" class="form-control" readonly="true" class="form-control" />
								</div>
							</div>
							<br />
							<div class="control-group">
								<label class="control-label">Address</label>
								<div class="controls">
									<input value="{{cv.address}}" type="text" class="form-control" readonly="true" class="form-control" />
								</div>
							</div>
							<br />
							<div class="control-group">
								<label class="control-label">E-Mail</label>
								<div class="controls">
									<input value="{{cv.email}}" type="text" class="form-control" readonly="true" class="form-control" />
								</div>
							</div>
							<br />
							<div class="control-group">
								<label class="control-label">Tel. Number</label>
								<div class="controls">
									<input value="{{cv.tel}}" type="text" class="form-control" readonly="true" class="form-control" />
								</div>
							</div>
							<br />
							<div class="control-group">
								<label class="control-label">Birthday</label>
								<div class="controls">
									<input value="{{cv.birthday | date: 'MM/dd/yyyy @ h:mma'}}" type="text" readonly="true" class="form-control" />
								</div>
							</div>
							<br />
							<div class="control-group">
								<label class="control-label">Study</label>
								<div class="controls">
									<input value="{{cv.study}}" type="text" class="form-control" readonly="true" class="form-control" />
								</div>
							</div>
							<br />
							<div class="control-group">
								<label class="control-label">Highest Degree</label>
								<div class="controls">
									<input value="{{cv.degree}}" type="text" class="form-control" readonly="true" class="form-control" />
								</div>
							</div>
							<br />
							<div class="control-group">
								<label class="control-label">Grade</label>
								<div class="controls">
									<input value="{{cv.grade}}" type="text" readonly="true" class="form-control" />
								</div>
							</div>
							<br />
							<div class="control-group">
								<label class="control-label">Sector(s)</label>
								<div class="controls">
									<textarea class="form-control" readonly="true" rows="5">{{cv.sectors}}</textarea>
								</div>
							</div>
							<br />
							<div class="control-group">
								<label class="control-label">Motivation</label>
								<div class="controls">
									<textarea class="form-control" readonly="true" rows="5">{{cv.motivation}}</textarea>
								</div>
							</div>
							<br />
							<div class="control-group">
								<label class="control-label">Skills</label>
								<div class="controls">
									<textarea class="form-control" readonly="true" rows="5">{{cv.skills}}</textarea>
								</div>
							</div>
							<br />
							<div class="control-group">
								<label class="control-label">Practical Experience</label>
								<div class="controls">
									<textarea class="form-control" readonly="true" rows="5">{{cv.experience}}</textarea>
								</div>
							</div>
	
							<!-- Applicant CV End -->

						</div>
					</div>
				</div>
			</div>

			<hr />
			
			<div id="current-inquiry" class="panel-group">
				<div class="panel panel-default">
			    		<div class="panel-heading">
						<h4 class="panel-title">Corresponding job inquiry</h4>
			      	</div>
			      	<div class="panel-body">
						<div class="control-group">
							<label class="control-label" >Title of job inquiry:</label>
							<div class="controls">
								<input value="{{jobInquiry.title}}" type="text" readonly="true" class="form-control" />
							</div>
						</div>
						
						<br />
						
						<div class="control-group">
							<label class="control-label" >Required graduation:</label>
							<div class="controls">
								<input value="{{jobInquiry.requiredGraduation}}" type="text" readonly="true" class="form-control" />
							</div>
						</div>
						
						<br />
						
						<div class="control-group">
							<label class="control-label" >Location of job:</label>
							<div class="controls">
								<input value="{{jobInquiry.location}}" type="text" readonly="true" class="form-control" />
							</div>
						</div>
						
						<br />
						
						<div class="control-group">
							<label class="control-label" >Application deadline:</label>
							<div class="controls">
								<input value="{{jobInquiry.deadline | date: 'MM/dd/yyyy @ h:mma'}}" type="text" readonly="true" class="form-control" />
							</div>
						</div>
						
						<br />
			
						<div class="control-group">
							<label class="control-label" >Candidate Profile:</label>
							<div class="controls">
								<ul class="list-group">
									<li ng-repeat="prof in jobInquiry.candidateProfile" class="list-group-item">{{prof}}</li>
								</ul>
							</div>
						</div>
							
						<div class="control-group">
							<label class="control-label">Tasks:</label>
							<div class="controls">
								<ul class="list-group">
									<li ng-repeat="task in jobInquiry.taskList" class="list-group-item">{{task}}</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>

			<hr />
						
			<div class="control-group">
				<p>CVs evaluated?</p>
				
				<select cam-variable-name="evaluated" cam-variable-type="Boolean">
					<option value="true">Yes</option>
					<option value="false">No</option>
				</select>
			</div>
			
		</form>
	</body>
	
	<script src="/processJobInquiry/assets/vendor/jquery/jquery-3.2.1.min.js"></script>
	<script src="/processJobInquiry/assets/js/main.js"></script>
</html>